<etwin-main-layout>
  <div i18n="Presentation of the Eternal-Twin project@@home.presentation">
    <p>
      On March 27th 2020, Motion-Twin published <a
      href="https://twinoid.com/fr/article-fr/6437/twinoid-et-les-jeux-web-de-motion-twin-evoluent">a message</a> on its
      platform Twinoid about the end of Flash by the end of 2020. Their games will be gradually closed based on how the
      player-base dwindles.
    </p>
    <p>
      Faced with the situation, a few players decided to start a project to save those games: the project Eternaltwin.
      Their goal is to keep the corresponding online communities alive and avoid losing this part of video-gaming
      history.
    </p>
    <p>
      This project is lead by Demurgos and Patate404, for the technical and organizational side respectively. We also
      want to thank MrPapy for helping to start the project.
      Anyone is free to join and help.
    </p>
    <p>
      Useful links:
    </p>
    <ul>
      <li><a href="https://discord.gg/ERc3svy">Eternaltwin Discord server</a>: Main communication channel</li>
      <li><a href="https://wiki.eternal-twin.net/">Eternal Twinpedia</a>: Wiki for the Motion-Twin games</li>
      <li><a href="https://gitlab.com/eternal-twin">Eternaltwin Gitlab organization</a>: All our source-code</li>
    </ul>
  </div>
  <h1 i18n="Title of the general informations section@@home.generalTitle">
    General informations
  </h1>
  <p i18n="Section describing who we are@@home.generalWhoAreWe">
    Eternaltwin is a non-commercial website operate by hobbyists. Its the goal to archive Motion-Twin's games. This
    means we want to ensure they remain available even if the official website closes. <strong>We are not related to
    Motion-Twin</strong>.
  </p>
  <p i18n="Section explaining we're against cheating@@home.generalNoCheating">
    We reverse engineered some of the games: this is done with the sole purpose of archiving them. We oppose anyone
    using information we found in order to gain an unfair advantage in any game (even single-player games). We base our
    judgement on the expectation of the community, not on what is technically possible or not: something may be possible
    while still being considered cheating.
  </p>
  <p>
    <a class="button" routerLink="/legal" i18n="Link to legal notices@@legalLink">Legal notices</a>
  </p>
</etwin-main-layout>
