<h1>{{user.displayName}}</h1>

<div class="linked-user">
  <a href="https://twinoid.com/user/{{user.id}}">
    <span><img src="/assets/login-methods/twinoid.png"/></span>
    <strong>{{user.displayName}}</strong>
    <em>twinoid.com</em>
  </a>
</div>

<div class="linked-user" *ngIf="user.etwin.current !== null">
  <a [routerLink]="['', 'users', user.etwin.current.user.id]">
    <span><img src="/assets/login-methods/eternal-twin.png"/></span>
    <strong>{{user.etwin.current.user.displayName.current.value}}</strong>
    <em>Eternaltwin</em>
  </a>
</div>

<pre>{{user | json}}</pre>
