<etwin-small-layout>
  <div class="content">
    <form
      method="POST"
      enctype="application/x-www-form-urlencoded"
      action="/actions/register"
    >
      <div class="active_method" i18n="Registration page heading (with an email)@@register.email.heading">
        Eternaltwin registration
      </div>
      <label>
        <span i18n="Email address field label@@label.emailAddress">Email address</span>
        <input type="email" name="email" class="field"/>
      </label>
      <input type="submit" class="btn primary" name="email_registration" i18n-value="@@register.email.submit" value="Register (Soon)" disabled="disabled"/>
      <div>
        <a routerLink="/register" i18n="@@register.backToMethodSelection">Back</a>
      </div>
    </form>
  </div>
</etwin-small-layout>
