<etwin-main-layout>
  <h1 i18n="Title of the games section@@games.title">Games</h1>

  <article class="game" id="eternalfest">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_eternalfest.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Eternalfest game description@@games.eternalfestTitle">Eternalfest</h2>
      <p i18n="Description of the Eternalfest game@@games.eternalfestDescription"><a href="https://eternalfest.net/">Eternalfest</a> is a reimplementation of <em>Hammerfest</em>. It has both the official levels, and new content!</p>
      <div class="actionBox">
        <a i18n="Button to access the Eternalfest game@@games.eternalfestButton" href="https://eternalfest.net/" class="btn">Play now!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="emush">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_mush.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the eMush game description@@games.emushTitle">eMush</h2>
      <p i18n="Description of the eMush game@@games.emushDescription">Co-operative multiplayer space survival and escape game</p>
      <p i18n="Current status of the eMush game@@games.emushStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the eMush game@@games.emushButton" href="https://emush.eternaltwin.org/" class="btn">Test the alpha!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="neoparc">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_neoparc.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Neoparc game description@@games.neoparcTitle">Neoparc</h2>
      <p i18n="Description of the Neoparc game@@games.neoparcDescription"><a href="https://neoparc.eternal-twin.net/">Neoparc</a> is a fresh implementation of <em>Dinoparc</em>. Raise your Dinoz in this improved version!</p>
      <div class="actionBox">
        <a i18n="Button to access the Neoparc game@@games.neoparcButton" href="https://neoparc.eternal-twin.net/" class="btn">Play now!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="myhordes">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_myhordes.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the MyHordes game description@@games.myhordesTitle">MyHordes</h2>
      <p i18n="Description of the MyHordes game@@games.myhordesDescription"><a href="https://myhordes.eu/">MyHordes</a> is an open implementation of the browser game "Die2Nite" and its other versions by MotionTwin and developed by the community.</p>
      <p i18n="Current status of the MyHordes game@@games.myhordesStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the MyHordes game@@games.myhordesButton" href="https://myhordes.eu/" class="btn">Play now!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="studioquiz">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_studioquiz.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Directquiz game description@@games.directquizTitle">Directquiz</h2>
      <p i18n="Description of the Directquiz game@@games.directquizDescription">Jeu de quiz : votre culture mise à rude épreuve !</p>
      <p i18n="Current status of the Directquiz game@@games.directquizStatus"><em>This game is available in french only.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the Directquiz game@@games.directquizButton" href="https://directquiz.org/" class="btn">Play now!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="labrute">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_labrute.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Labrute game description@@games.labruteTitle">My Brute</h2>
      <p i18n="Description of the Labrute game@@games.labruteDescription">A free combat game: Create the most brutal fighter ever!</p>
      <p i18n="Current status of the Labrute game@@games.labruteStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the Labrute game@@games.labruteButton" href="https://brute.eternaltwin.org/" class="btn">Play now!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="epopotamo">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_cover_ft_wip.svg">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the ePopotamo game description@@games.epopotamoTitle">ePopotamo</h2>
      <p i18n="Description of the ePopotamo game@@games.epopotamoDescription"></p>
      <p i18n="Current status of the ePopotamo game@@games.epopotamoStatus"><em>This game is available in french only.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the ePopotamo game@@games.epopotamoButton" href="https://epopotamo.eternaltwin.org/" class="btn">Test the alpha!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="dinorpg">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_dinorpg.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the DinoRPG game description@@games.dinorpgTitle">DinoRPG</h2>
      <p i18n="Description of the DinoRPG game@@games.dinorpgDescription">Train your dinoz and set off on an extraordinary adventure...</p>
      <p i18n="Current status of the DinoRPG game@@games.dinorpgStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the DinoRPG game@@games.dinorpgButton" href="https://dinorpg.eternaltwin.org/" class="btn">Test the alpha!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="kingdom">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_kingdom.png">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the Kingdom game description@@games.kingdom">EternalKingdom</h2>
      <p i18n="Description of the Kingdom game@@games.kingdomDescription">Expand your domain and become emperor!</p>
      <p i18n="Current status of the Kingdom game@@games.kingdomStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the Kingdom game@@games.kingdomButton" href="https://kingdom.eternaltwin.org" class="btn">Play the alpha!</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game" id="cafejeux">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <!-- TODO --><img src="/assets/box_cover_ft_wip.svg" style="opacity:.4;">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the CafeJeux game description@@games.cafejeuxTitle">CaféJeux</h2>
      <p i18n="Description of the CafeJeux game@@games.cafejeuxDescription">Jeux multi-joueurs, bonne humeur et défis entre amis !</p>
      <p i18n="Current status of the CafeJeux game@@games.cafejeuxStatus"><em>This game is still in development.</em></p>
      <div class="actionBox">
        <a i18n="Button to access the CafeJeux game@@games.cafejeuxButton" class="btn disabled">Coming soon...</a>
      </div>
    </div>
  </article>

  <div class="splitter"></div>

  <article class="game">
    <article class="tridiv">
      <div class="scene">
        <div class="shape cuboid-1 cub-1">
          <div class="face ft">
            <img src="/assets/box_cover_ft_more.svg" style="opacity:.4;">
          </div>
          <div class="face bk"></div>
          <div class="face rt"></div>
          <div class="face lt"></div>
          <div class="face tp"></div>
          <div class="face bm"></div>
        </div>
      </div>
    </article>
    <div>
      <h2 i18n="Title of the &quot;more games&quot; section@@games.moreTitle">More to come</h2>
      <p i18n="Explanation that more games will be added to the list@@games.moreDescription">This section will be expanded as new games are published online.</p>
    </div>
  </article>

</etwin-main-layout>
