<h1>{{user.username}}</h1>

<div *ngIf="canArchive$ | async">
  <form
    method="POST"
    enctype="application/x-www-form-urlencoded"
    action="/actions/archive/hammerfest"
  >
    <input type="hidden" name="hammerfest_server" [value]="user.server"/>
    <input type="hidden" name="hammerfest_username" [value]="user.username"/>
    <label>
      <span i18n="Hammerfest password (archive Hammerfest)@@archive.hammerfest.password">Hammerfest password</span>
      <input type="password" name="hammerfest_password" class="field" required="required"/>
    </label>
    <input type="submit" name="archive_hammerfest" class="btn primary" i18n-value="Request an archive for Hammerfest user@@archive.hammerfest.submit"
           value="Request archive" />
  </form>
</div>

<div class="linked-user" [ngSwitch]="user.server">
  <ng-container *ngSwitchCase="'hfest.net'">
    <a href="http://www.hfest.net/user.html/{{user.id}}">
      <span><img src="/assets/login-methods/hammerfest.png"/></span>
      <strong>{{user.username}}</strong>
      <em>hfest.net</em>
    </a>
  </ng-container>
  <ng-container *ngSwitchCase="'hammerfes.es'">
    <a href="http://www.hfest.net/user.html/{{user.id}}">
      <span><img src="/assets/login-methods/hammerfest.png"/></span>
      <strong>{{user.username}}</strong>
      <em>hammerfest.es</em>
    </a>
  </ng-container>
  <ng-container *ngSwitchDefault>
    <a href="http://www.hammerfest.fr/user.html/{{user.id}}">
      <span><img src="/assets/login-methods/hammerfest.png"/></span>
      <strong>{{user.username}}</strong>
      <em>hammerfest.fr</em>
    </a>
  </ng-container>
</div>

<div class="linked-user" *ngIf="user.etwin.current !== null">
  <a [routerLink]="['', 'users', user.etwin.current.user.id]">
    <span><img src="/assets/login-methods/eternal-twin.png"/></span>
    <strong>{{user.etwin.current.user.displayName.current.value}}</strong>
    <em>Eternaltwin</em>
  </a>
</div>

<pre>{{user | json}}</pre>
