<div class="box language">
  <etwin-language-picker></etwin-language-picker>
</div>
<div class="box description">
  <p i18n="Eternal-Twin description in the footer@@footer.description">
    Eternaltwin is a non-commercial website operate by hobbyists. Its the goal to archive Motion-Twin's games. This means we want to ensure they remain available even if the official website closes.<strong> We are not related to Motion-Twin</strong>.</p>
</div>
<div class="box links">
  <a href="https://discord.gg/ERc3svy">Discord server</a>
  <a href="https://wiki.eternal-twin.net/">Eternal Twinpedia</a>
  <a href="https://gitlab.com/eternal-twin/etwin">Gitlab repository</a>
  <a routerLink="/legal" class="button">Legal notices</a>
</div>
