<etwin-bar></etwin-bar>
<header>
  <h1><a routerLink="/">Eternaltwin</a></h1>
</header>

<div class="star-bg"> </div>

<div id="headBar">
  <nav id="main-menu">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="label-toggle" i18n="Button to toggle the main menu@@app.menu.toggle">Menu</label>
    <ul>
      <li><a routerLink="/" class="disabled" i18n="Menu link to the nexus (feed) page@@app.menu.nexus">Nexus</a></li>
      <li><a routerLink="/games" i18n="Menu link to the games page@@app.menu.games">Games</a></li>
      <li><a routerLink="/docs/tmiet" i18n="Menu link to the games page@@app.menu.news">News</a></li>
      <li><a routerLink="/forum" i18n="Menu link to the forum page@@app.menu.forum">Forum</a></li>
      <li><a routerLink="/" class="disabled" i18n="Menu link to the groups page@@app.menu.groups">Groups</a></li>
      <li><a routerLink="/donate" i18n="Menu link to the donation page@@app.menu.donate">Contribute</a></li>
      <li><a routerLink="/docs" i18n="Menu link to the docs page@@app.menu.docs">Docs</a></li>
      <li><a routerLink="/archive" i18n="Menu link to the archive@@app.menu.archive">Archive</a></li>
    </ul>

    <div [ngSwitch]="npc_pick" class="npc">

      <div *ngSwitchCase="0" class="dinorpg">
        <img src="/assets/npcs/dino_mandragore.png" alt="Mandragore">
        <div class="npcTip">
          <p i18n="Text of the DinoRPG npc@@app.npc.dinorpg">Mandragore, a hero and adventurer who has travelled the length and breadth of all DinoRPG lands !</p>
        </div>
      </div>

      <div *ngSwitchCase="1" class="labrute">
        <img src="/assets/npcs/labrute_brute.png" alt="Brute">
        <div class="npcTip">
          <p i18n="Text of the MyBrute npc@@app.npc.mybrute">My Brute never forgives!</p>
        </div>
      </div>

      <div *ngSwitchCase="2" class="hordes">
        <img src="/assets/npcs/hordes_zonzon.png" alt="Zonzon">
        <div class="npcTip">
          <p i18n="Text of the Hordes npc@@app.npc.hordes">A zombie, much like ones that haunt the glacial nights of MyHordes...</p>
        </div>
      </div>

      <div *ngSwitchCase="3" class="alphabounce">
        <img src="/assets/npcs/alphabounce_zoidberg.png" alt="Zoidberg">
        <div class="npcTip">
          <p i18n="Text of the Alphabounce npc@@app.npc.alphabounce">Zonkerians come from all over the universe and will always provide you with their overpriced items !</p>
        </div>
      </div>

      <div *ngSwitchCase="4" class="fever">
        <img src="/assets/npcs/fever_pousti.png" alt="Pousti">
        <div class="npcTip">
          <p i18n="Text of the Fever npc@@app.npc.fever">Pousty, the last hero battling infamous Bakelites to save his world !</p>
        </div>
      </div>

      <div *ngSwitchCase="5" class="instrusion">
        <img src="/assets/npcs/intrusion_Smith.png" alt="Smith">
        <div class="npcTip">
          <p i18n="Text of the Intrusion npc@@app.npc.intrusion">Agent S is keeping an eye on you... He knows when you last showered... And he is appalled !</p>
        </div>
      </div>

      <div *ngSwitchCase="6" class="kingdom">
        <img src="/assets/npcs/kingdom_king.png" alt="King">
        <div class="npcTip">
          <p i18n="Text of the Kingdom npc@@app.npc.kingdom">Be a good King in life, and in death they will sing your name !</p>
        </div>
      </div>

      <div *ngSwitchCase="7" class="majority">
        <img src="/assets/npcs/majority_sheep.png" alt="Sheep">
        <div class="npcTip">
          <p i18n="Text of the Majority npc@@app.npc.majority">Baaaaaa...</p>
        </div>
      </div>

      <div *ngSwitchCase="8" class="mush">
        <img src="/assets/npcs/mush_mush.png" alt="Mush">
        <div class="npcTip">
          <p i18n="Text of the Mush npc@@app.npc.mush">Mushhhhhh...</p>
        </div>
      </div>

      <div *ngSwitchCase="9" class="quiz">
        <img src="/assets/npcs/quiz_james.png" alt="James">
        <div class="npcTip">
          <p i18n="Text of the StudioQuiz npc@@app.npc.quiz">"My name is Norray. James Norray".</p>
        </div>
      </div>

      <div *ngSwitchCase="10" class="snake">
        <img src="/assets/npcs/snake_himself.png" alt="Himself">
        <div class="npcTip">
          <p i18n="Text of the Snake npc@@app.npc.snake">Glorp... glorp... glorp... glopErk... Splash !</p>
        </div>
      </div>

    </div>

  </nav>
</div>

<div class="content">
  <ng-content></ng-content>
</div>

<footer>
  <etwin-footer></etwin-footer>
</footer>
